<%= form_for([current_user, @car]) do |form| %>
 

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :car_name %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :car_model %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :car_description %>
  </div>


    <%= form.submit %>
<% end %>
