<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.model %></td>
        <td><%= car.description %></td>
        <td><%= link_to 'Show', user_car_path(car.user_id, car) %></td>
        <td><%= link_to 'Edit', edit_user_car_path(car.user_id, car) %></td>
        <td><%= link_to 'Destroy', user_car_path(current_user, car), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Create a new car here', new_user_car_path(current_user.id) %>

