<h1> <%= @model.name %></h1>


<p>
  <strong>Engine size:</strong>
  <%= @model.engine_size %>
</p>

<p>
  <strong>How many were sold:</strong>
  <%= @model.sold %>
</p>

<p>
  <strong>Company:</strong>
  <%= @model.company.name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>